.jsdropdown-lists {
    position: absolute;
    z-index: 20000;
    border: 1px solid #d2d2d2;
    -webkit-box-shadow: 0px 0px 2px 2px #e6e6e6;
    box-shadow: 0px 0px 2px 2px #e6e6e6;
    background-color: #fff;
    line-height: 28px;
    font-size: 12px;
    max-height: 116px;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    padding:0;
    margin:0;
}

.jsdropdown-lists li {
    padding: 0 10px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    color: #7a7a7a;
    list-style: none;
    text-align: left;
    margin:0;

}
.jsdropdown-lists .jsdropdown-item-on,.jsdropdown-lists .jsdropdown-item-cur{
    background-color:#f5f5f5;
}